<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Статическая страница</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
  <div class="container">
    <h1>Демонстрация CSS</h1>
    <p class="style1">Стиль 1: Красный текст с жирным шрифтом.</p>
    <p class="style2">Стиль 2: Синий текст с курсивом.</p>
    <p class="style3">Стиль 3: Зеленый текст с подчеркиванием.</p>
    <p class="style4">Стиль 4: Фон желтый, текст черный.</p>
    <p class="style5">Стиль 5: Граница пунктирная, отступы внутри.</p>
    <p class="style6">Стиль 6: Текст с большой буквы, выравнивание по правмоу краю.</p>
    <p class="style7">Стиль 7: Тень текста, увеличенный размер шрифта.</p>
  </div>
</body>
</html>